<ion-header>
  <ion-toolbar color="primary">
	<!-- the menu button -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    
	<ion-title>Contact us</ion-title>

	<!-- the log out button -->
    <ion-buttons slot="end">
		<ion-button (click)="logout()">
		  <ion-icon slot="icon-only" name="log-out"></ion-icon>
		</ion-button>
	  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="title">
		<h1>Contact us</h1>
	</div>
<ion-card>
	<h2> 
		You can find me at:
	</h2>
		<ion-icon name="call-outline" class="phone"></ion-icon>
		<p>+212 610 424778</p>
		<ion-icon name="mail-outline" class="email"></ion-icon>
		<p>mohammedlaarej0@gmail.com</p>
</ion-card>
<div class="center">
	<ion-icon name="chatbubbles-outline" class="contact"></ion-icon></div>
</ion-content>
